<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        <main>
        <h1>Edit Profile</h1>
        <form method="POST" action="/profile/edit?_method=PUT">
            <div>
                <label for="name">Name:</label>
                <input id="name" name="name">
            </div>
            <div>
                <label for="avatar">Add a link:</label>
                <input id="avatar" name="avatar" type="url">
            </div>
            <button type="submit">Change Profile</button>
        </form>
        <%- include('../partials/footer') %>
        </main>
    </body>
</html>