<div class="mt-auto">
    <footer class="bg-light py-3">
        <div class="container">
            <p class="text-center mb-0">Copyright &copy; All Rights Reserved <%= new Date().getFullYear() %>
            </p>
        </div>
    </footer>
</div>