<footer class="container-fluid bg-light fixed-bottom">
    <div class="row d-flex align-items-center">
        <div class="col-sm-12">
            <p class="text-center py-1">&copy; <%= new Date().getFullYear() %> All Rights Reserved</p>
        </div>
    </div>
</footer>