<header >
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <% if (user) { %>
                <li><a href="/profile">PROFILE</a></li>
                <li><a href="/photos/new">CREATE</a></li>
                <li><a href="/profile/saved">SAVED</a></li>
                <li><a href="/profile/notifications">NOTIFICATIONS</a></li>
                <li><a href="/logout">LOG OUT</a></li>
            <% } else { %>
                <li><a href="/auth/google">LOG IN</a></li>
            <% } %>
        </ul>
    </nav>
</header>