<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        <main>
        <h1>Download a new photo</h1>
        <form action="/photos/new" method="POST">
            <div>
                <label for="title">Title:</label>
                <input id="title" name="title" required>
            </div>
            <div>
                <label for="url">Add a link:</label>
                <input id="url" name="url" type="url" required>
            </div>
            <button type="submit">Add Photo</button>
        </form>
        <%- include('../partials/footer') %>
        </main>
    </body>
</html>