<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
    <body class="d-flex flex-column min-vh-100">
        <%- include('../partials/header') %>
        <h1>Download a new photo</h1>
        <form action="/photos/new" method="POST">
            <div>
                <label for="title">Title:</label>
                <input id="title" name="title" required>
            </div>
            <div>
                <label for="url">Add a link:</label>
                <input id="url" name="url" type="url" required>
            </div>
            <button type="submit">Add Photo</button>
        </form>
        <%- include('../partials/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>