<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<body>
  <%- include('./partials/header')%>
  <main>
    <img src="https://picsum.photos/id/237/300" alt="A cute lab puppy">
    <p>Try again later or <a href="/">Go Back Home</a></p>
  </main>
  <%- include('./partials/footer')%>
</body>
</html>