/* body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 15% 85%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-right: 1px solid rgb(203, 207, 210);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

ul {
    list-style: none;
}

li {
    display: flex;
    align-items: center;
}

nav a {
    margin-right: 2vmin;
    width: 100%;
    display: block;
    padding: 2vmin;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #8c8d91;
}

main {
    margin: 5vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vmin;
}

footer {
    text-align: center;
    font-size: 1rem;
    padding: 1vmin;
}

img {
    padding: 0;
    max-width: 90vmin;
} */

button {
    display: inline-block;
}

form {
    display: inline-block;
}

a {
    display: inline-block;
}

main {
    margin: 2vmin 0 7vmin 0;
}